<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDataContextConnectionString" connectionString="User Id=root;Host=localhost;Database=test;Persist Security Info=True" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="givery.Service1">
        <endpoint
            address="http://localhost/giverytest"
            binding="webHttpBinding"
            contract="givery.IService1"
            behaviorConfiguration="webby"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webby">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
